<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".app.SystemVaultApp"
        android:allowBackup="false"
        android:label="SystemVault"
        android:theme="@style/Theme.SystemVault"
        android:supportsRtl="true">

        <service
            android:name=".service.BackupService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
